

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_h2 {
    font-family: "Sen";
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
    color: #232536;

}


.login_input {
    width: 768px;
    height: 76px;
    top: 288px;
    left: 336px;
    opacity: 1;
    border-width: 1px;
    border-radius: 2px;
    border: 1px solid #6D6E7680;
    margin-right: 336px;
    margin-left: 336px;
    margin-top: 76px;
    padding-right: 5px;

}

.input_login {
    width: 768px;
    height: 76px;
    top: 288px;
    left: 336px;
    opacity: 1;
    border-width: 1px;
    border-radius: 2px;
    border: 1px solid #6D6E7680;
    margin-right: 336px;
    margin-left: 336px;
    margin-top: 19px;
    padding-right: 5px;
}

.login_btn {
    width: 768px;
    height: 64px;
    top: 513px;
    left: 336px;
    opacity: 1;
    background-color: #FFD050;
    color: #232536;
    border: none;
    cursor: pointer;
    font-family: "Sen";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 54px;
    margin-right: 336px;
    margin-left: 336px;
}

.login_btn:hover {
    transition: 0.10s ease all;
    background-color: #FFFFFF;
    border: 3px dotted #FFD050;
    color: #FFD050;
}